@{
    ViewData["Title"] = "Trips";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is the information gateway for a group of friends to discuss, plan, and prepare for various camping trips, 
river trips, hunting trips, and various other outdoor activities.
</p><br>
<p>Any member here will be allowed to begin a discussion, schedule an event, and create lists for items 
that need to be brought for an event.</p><br><br>
<p>Since This site is designed and developed by one individual with a limited vision in mind, please feel free
to offer suggestions for how the site may be improved. Cheers.</p>